.lower_section_images {
  width: 80%;
  margin: 0 auto;
}

.images_header {
  margin-bottom: 20px;
}

.images_container {
  display: flex;
}

.images_container .images {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* width: 500;
  height: 500; */
}
