html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial !important;
  border-color: #d5d4d4;
}

h2 {
  clear: both;
  font-family: 'Heebo', sans-serif;
  font-weight: 800;
  line-height: 1.25;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
